In [ ]:
Q1. 
* - expression
'hello' - value
-87.8 - value
- , / , + - expression 
6 - value

In [ ]:
Q2. 
Strings is a data type for a a sequence of characters (e.g. ‘’zaldnQfYJSMfwp”). In addition to letters,
they can also include numbers, spaces, punctuation, and even line breaks (using ‘\n’ for new line).
Strings can not be used for calculation (even if your string is just a number like ‘5’), you would have to convert it to 
a number data type first to perform math operations on it.\

Variables are references that you create to refer to other values in your program later. A variable can store everything 
from strings to numbers

In [1]:
3 Standard built in data types of python - 
1. Numeric - 
In Python, numeric data type represent the data which has numeric value. Numeric value can be integer, 
floating number or even complex numbers. These values are defined as int, float and complex class in Python.


2. Set - 
In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.
The order of elements in a set is undefined though it may consist of various elements.

3.Boolean - 
Data type with one of the two built-in values, True or False. Non-Boolean objects can be evaluated in Boolean context
as well and determined to be true or false. It is denoted by the class bool.

SyntaxError: invalid syntax (3803231762.py, line 1)

In [ ]:
Q4. 
An expression is a combination of operators and operands that is interpreted to produce some other value.

In [ ]:
Q5.
An Expression always evaluates to a value. And, A statement does something, like creating a variable or displaying a value,
it only does whatever the statement says.

In [ ]:
Q6. 
     22

In [2]:
Q7.
"spam" + "spamspam" = 'spamspamspam'
"spam" * 3 = 'spamspamspam'

'spamspamspam'

In [ ]:
Q8. Eggs is a valid variable name because if we are supposed to create a variable that can store int data type it is 
completely and logically possible to store int value in this variable. On the other hand 100 is not a valid variable name 
as it in itself holds value as an integer can therefore cannot be used to store diff value ( 100 = 3, is not possible but eggs = 3 is [possible ])

In [ ]:
Q9. int, float, string

In [ ]:
Q10. the given expression is to concatenate two different data types which is not possible. To solve this we need to use 
the following expression : 
    "I have eaten" + " 99 " + "burritos"
    this expression takes 99 as a string value not int as it is inside ""

In [5]:
 "I have eaten" + " 99 " + "burritos"

'I have eaten 99 burritos'